body {
    margin: 0;
    background-color: lightgoldenrodyellow;
}

/*helper*/

section {
    padding: 80px 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

}

#main-nav {
    background-color: transparent;
    transition: all 0.4s;
}

#main-nav a {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    transition: all 0.4s;
}

#main-nav a:hover {
    color: #0ED8D6;

}

#main-nav navbarNavAltMarkup a {
    text-transform: uppercase;
    font-weight: 800;
}

#main-nav.scrolled {
    background-color: rgba(14, 216, 214, 0.6);
}

#main-nav.scrolled a:hover {
    color: black;
}

#header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../header/pictures_on_the_wall.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header #header-inner {
    text-align: center;
    color: wheat;
}


#header #header-inner h1,
#header #header-inner h2 {
    font-family: 'Montserrat', sans-serif;
}



#header #header-inner h1 {
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 800;
}

#header #header-inner .header-btn {
    background-color: #0ED8D6;
    border: 1px solid #0ED8D6;
    color: #FFF;
    text-transform: uppercase;
    transition: all 0.4s;

}

#header #header-inner .header-btn:hover {
    background-color: #FFF;
    color: #0ED8D6;
}

h2 {

    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

#services {
    text-align: center;
}

#services .fa {
    background-color: #0ED8D6;
    color: white;
    font-size: 30px;
    border: 1px solid #0ED8D6;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: all 0.4s;
    line-height: 50px;
}

#services .fa:hover {
    transform: rotate(360deg);
    background-color: #fff;
    color: #0ED8D6;
}

section header {
    margin-bottom: 80px;
}

#background-1 {
    background-image: url(../portfolio/box_of_cookies.jpg);
}

#background-2 {
    background-image: url(../portfolio/chaotic_paint.jpg);
}

#background-3 {
    background-image: url(../portfolio/chestnut_on_bracket.jpg);
}

#background-4 {
    background-image: url(../portfolio/child_with_blue_paint.jpg);
}

#background-5 {
    background-image: url(../portfolio/house_with_blue_doors.jpg);
}

#background-6 {
    background-image: url(../portfolio/typing_on_laptop.jpg);
}

.portfolio-item {
    background-color: #FFF;
}

.portfolio-item .box {
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.4s;
}

.overflow {
    overflow: hidden;
}

.portfolio-item .box:hover {
    transform: scale(1.3);
}

.portfolio-item .mask {
    background-color: rgba(0, 0, 0, 0.5);
    /*    padding: 10px;*/
    opacity: 0;
    transition: all 0.4s;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: pink;
}

.portfolio-item .mask:hover {
    opacity: 1;
}


.container {
    text-align: center;
    padding: 10px;
}

#team .container .team-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media .fa {
    background-color: black;
    color: white;
    font-size: 25px;
    border-radius: 50%;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    transition: all 0.4s;
    line-height: 50px;
    text-align: center;
}

.social-media .fa:hover {

    background-color: #0ED8D6;
    color: white;
    border: 1px solid #0ED8D6;
}

/*kontakt*/

#kontakt {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../footer/world-map.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

#kontakt .kontakt-inner input:not([type="submit"]),
.kontakt-inner form textarea {
    height: 50px;
    margin: 5px;

}


.kontakt-inner input[type="submit"] {
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: #0ED8D6;
    border: 1px solid #0ED8D6;
    color: #FFF;
    transition: all 0.4s;
}



.kontakt-inner input[type="submit"]:hover {
    background-color: #FFF;
    color: #0ED8D6;
}


/* footer */

#footer {
    background-color: #142634;
    color: #FFF;
    padding: 0 50px;
}

#footer p {
    margin: 0;
}


footer .footer-nav ul {
    list-style: none;
}

footer .footer-nav ul li {
    display: inline-block;
}

footer .line-height {
    line-height: 70px;
}

footer p,
footer ul {
    margin: 0;
}
